# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# Project data
chroma_data/
ragent.db

# Temp
*.tmp

# Frontend
frontend/node_modules/
frontend/dist/
frontend/src/**/*.js
frontend/vite.config.js
frontend/*.tsbuildinfo
